/* Resets */

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-black);
}
p {
  text-align: justify;
}

body {
  font-size: 2rem;
  padding-top: 10rem;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

  .page {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2rem;
  }
  h2 {
     font-size: 8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }

  h1 {
    font-size: 34rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }


  .text-style-h-1 {
    font-size: 15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }

  /* 800 pixels down */
  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 20rem;
    }
  .text-style-h-1 {
    font-size: 15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  }

  @media only screen and (min-width: 1200px) {
   body {
    margin-right: 20rem;
    margin-left: 20rem;
   } 
  }
  @media only screen and (max-width: 510px) {
    h1 {
      font-size: 10rem;
    }
    .text-style-h-1 {
      font-size: 6rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 900;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
  h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  }